
.DS_Store
DerivedData/
.build/
xcuserdata/
*.xcuserstate
**/*.xcuserstate
.build/
Packages/
SourcePackages/
*.log
GoogleService-Info.plist
**/GoogleService-Info.plist
Resources/GoogleService-Info.plist

